body{
    padding-top: 50px;
}

li{
    display: inline;
    text-decoration: none;
}

#addModal .modal-content{
    padding: 50px;
}

.titleAlert, .searchAlert, .authorNameAlert, .categoryNameAlert{
    display: none;
}